<?xml version="1.0"?>
<config>
    <modules>
        <Losreservas1811_Sales>
            <version>1.0.0</version>
        </Losreservas1811_Sales>
    </modules>
    <global>
        <blocks>
            <sales>
                <rewrite>
                    <order_history>Losreservas1811_Sales_Block_Order_History</order_history>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <losreservas1811_sales>
                <class>Losreservas1811_Sales_Helper</class>
            </losreservas1811_sales>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <losreservas1811_sales>
                    <file>losreservas1811_sales.xml</file>
                </losreservas1811_sales>
            </updates>
        </layout>
        <translate>
            <modules>
                <Losreservas1811_Sales>
                    <files>
                        <default>Losreservas1811_Sales.csv</default>
                    </files>
                </Losreservas1811_Sales>
            </modules>
        </translate>
    </frontend>
</config>
