<?xml version="1.0"?>
<config>
    <modules>
        <Losreservas1811_Customer>
            <version>1.1.0</version>
        </Losreservas1811_Customer>
    </modules>
    <global>
        <blocks>
            <losreservas1811_customer>
                <class>Losreservas1811_Customer_Block</class>
            </losreservas1811_customer>
        </blocks>
        <helpers>
            <losreservas1811_customer>
                <class>Losreservas1811_Customer_Helper</class>
            </losreservas1811_customer>
        </helpers>
        <resources>
            <losreservas1811_customer_setup>
                <setup>
                    <module>Losreservas1811_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </losreservas1811_customer_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <is_company>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </is_company>
                <cif_nif_nie>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </cif_nif_nie>
            </sales_convert_quote_address>
            <customer_address>
                <is_company>
                    <to_quote_address>*</to_quote_address>
                </is_company>
                <cif_nif_nie>
                    <to_quote_address>*</to_quote_address>
                </cif_nif_nie>
            </customer_address>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <losreservas1811_customer>
                    <file>losreservas1811_customer.xml</file>
                </losreservas1811_customer>
            </updates>
            <jstranslate>
                <file>jstranslator.xml</file>
            </jstranslate>
        </layout>
        <translate>
            <modules>
                <Losreservas1811_Customer>
                    <files>
                        <default>Losreservas1811_Customer.csv</default>
                    </files>
                </Losreservas1811_Customer>
            </modules>
        </translate>
    </frontend>
</config>
